<%- layout("/layouts/boilerplate") %>
<body>
    <ul>
        <li><h3><%= list.title %> </h3> </li>
        <li> <%= list.description %> </li>
        <li> &#x20B9; <%= list.price.toLocaleString("en-IN") %> </li>
        <li> <%= list.location %> </li>
        <li> <%= list.country %> </li>
        <a href="/listings/edit/<%=list._id%>"><button>Edit</button></a>

        <form method="post" action="/listings/<%=list._id%>?_method=DELETE">
            <button>Delete</button>
        </form>
            
    </ul>
    
</body>